<html>
	<head>
	     <style type="text/css">
#word h1  {
width: 190px;
padding: 30px;
border:4px solid black;
}
</style>
		<title>Scores Game</title>
	</head>
	<body>
	<div align="center">
  <table width="300" cellpadding="300px" border="0">
   <tr>
      <td width="300" dir="rtl" lang="he"><div align="center" id="word">
		<h1>The score is <p><div id="score"><br>{{ SCORE }}</div></p></h1>
	</body>
</html>	